/* GENERAL */
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: $black;
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem 0 1.5rem 0;
}
main img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
