@import "./main.scss";

main {
  background: white;
  figure {
    width: 100%;
    img {
      width: 100%;
      max-width: 100%;
      height: 250px;
      object-fit: cover;
      object-position: 50% 65%;
    }
  }
  > #title-menu {
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -1.5rem;
    > div {
      padding: 1rem 2rem 0 1rem;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5rem;
      h1 {
        margin: 1rem 0;
        font-family: "Shrikhand", cursive !important;
      }
    }
  }

  > section {
    background: white;
    padding: 1rem 0;

    h2 {
      flex-basis: 100%;
      font-weight: 300;
      margin-left: 1rem;
    }
    h2::after {
      content: "";
      display: block;
      border-bottom: 4px solid $green;
      padding-top: 3px;
      width: 50px;
    }
    article {
      margin: 1rem 1rem;
    }
    article a {
      @include box-shadow;
      background: white;
      align-items: center;
      justify-content: space-between;
      padding: 0rem 1rem;
      border-radius: 20px;
      padding: 1rem;
      > div:first-child {
        h3 {
          font-weight: 500;
          font-size: 1.1rem;
          padding-bottom: 10px;
        }
        p {
          font-size: 1rem;
          font-weight: 300;
        }
      }
      p {
        align-self: flex-end;
      }
      > div:last-child {
        position: absolute;
        right: -10px;
        padding: 2rem 0;
      }
    }
  }
}
