@import "./main.scss";

figure {
  width: 100%;
  img {
    width: 100%;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 65%;
  }
}
main {
  background: white;
  & > section {
    position: relative;
    padding: 1rem 2rem 0 1rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: $ligthgrey;
    margin-top: -1.5rem;
    h1 {
      margin: 1rem 0;
      font-family: "Shrikhand", cursive !important;
    }
  }

  #menu > section {
    background: $ligthgrey;
    padding: 1rem 0;

    h2 {
      font-weight: 300;
      margin-left: 1rem;
    }
    h2::after {
      content: "";
      display: block;
      border-bottom: 4px solid $green;
      padding-top: 3px;
      width: 50px;
    }
    article {
      margin: 1rem 1rem;
    }
    article a {
      // overflow: hidden;
      @include box-shadow;
      background: white;
      align-items: center;
      justify-content: space-between;
      padding: 0rem 1rem;
      border-radius: 20px;
      div:first-child {
        h3 {
          font-weight: 500;
          font-size: 1.1rem;
          padding-bottom: 10px;
        }
        p {
          font-weight: 300;
        }
      }
      div:nth-child(2) {
        p {
          align-self: flex-end;
          padding: 0 15px 18px 0;
        }
        & > div {
          padding: 2rem 1.5rem;
          margin-right: -5rem;
        }
      }
    }
    & > div {
      display: flex;
      justify-content: center;
      padding: 2rem 0;
    }
  }
}
@media only screen and (min-width: 760px) {
  #menu {
    background: $ligthgrey;
    margin: 0 1rem;
    padding: 2rem 1rem;
  }
  main > section:first-of-type {
    background: $ligthgrey;
    margin: -1.5rem 1rem 0 1rem;
  }
}
@media only screen and (min-width: 992px) {
  #menu {
    margin: 0 3rem;
    padding: 2rem 1rem;
  }
  main > section:first-of-type {
    margin: -1.5rem 3rem 0 3rem;
  }
}
@media only screen and (min-width: 1200px) {
  #menu {
    background: $ligthgrey;
    margin: 0 4rem;
    padding: 2rem 1rem;
  }
  main > section:first-of-type {
    background: $ligthgrey;
    margin: -1.5rem 4rem 0 4rem;
  }

  div > section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    & h2 {
      flex-basis: 100%;
    }
    & article {
      margin: 0;
      flex-basis: 30%;
    }
    & > div {
      flex-basis: 100%;
    }
  }
}
