.icon {
  cursor: pointer;
  position: relative;
  fill: transparent;
  stroke: $semi-dark;
  stroke-width: 30;
  &:hover {
    .heart-first path {
      animation: stroke 2s ease-in forwards;
    }
    .heart-background {
      animation: fade 2s ease forwards;
    }
  }
}
svg {
  overflow: visible;
  width: 1.5rem;
}
path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}
.heart-background {
  position: absolute;
  left: 0;
  opacity: 0;
  z-index: 1;
  stroke: none;
}

// border effect
@keyframes stroke {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
    stroke: $purple;
  }
  80% {
    transform: scale(1.2);
    fill: transparent;
  }
  90% {
    transform: scale(1);
    fill: transparent;
  }
  100% {
    transform: scale(0);
    stroke-dashoffset: 3100;
    stroke: $purple;
    fill: $purple;
  }
}

// filling effect
@keyframes fade {
  70% {
    fill: transparent;
    transform: scale(0);
    opacity: 0;
    z-index: -1;
  }
  80% {
    transform: scale(0.6);
    opacity: 0.5;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: #ffffff;
  animation: loader 2s ease-in both;
  #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $purple;
    border-bottom-color: $purple;
    animation: spin 2s linear both;
    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-left-color: $pink;
      border-right-color: $pink;
      animation: spin 2s linear both;
    }
    &:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: $purplelight;
      border-bottom-color: $purplelight;
      animation: spin 2s linear both;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;

    visibility: hidden;
  }
}

//Lazy loading menu

@keyframes lazy-menu {
  0% {
    opacity: 0;
  }
  25% {
    transform: translateY(10px);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

//animation chexk box
@keyframes check-box {
  10% {
    transform: rotate(-90deg);
  }

  20% {
    transform: rotate(-75deg) scale(1.03);
  }

  40% {
    transform: rotate(-60deg) scale(1.08);
  }

  60% {
    transform: rotate(-45deg) scale(1.15);
  }

  80% {
    transform: rotate(-30deg) scale(1.08);
  }

  100% {
    transform: rotate(5deg) scale(1);
  }
}
