html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* GENERAL */
* {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none;
  color: #000000; }

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem 0 1rem 0; }

main img {
  width: 100%;
  max-width: 100%;
  height: auto; }

h3 {
  font-weight: bold;
  font-size: 1.2rem; }

p {
  font-weight: 300; }

.btn {
  padding: 1rem;
  border-radius: 2rem;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 3px 3px 3px #dedada; }

.icon {
  cursor: pointer;
  position: relative;
  fill: transparent;
  stroke: #353535;
  stroke-width: 30; }
  .icon:hover .heart-first path {
    -webkit-animation: stroke 2s ease-in forwards;
            animation: stroke 2s ease-in forwards; }
  .icon:hover .heart-background {
    -webkit-animation: fade 2s ease forwards;
            animation: fade 2s ease forwards; }

svg {
  overflow: visible;
  width: 1.5rem; }

path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center; }

.heart-background {
  position: absolute;
  left: 0;
  opacity: 0;
  z-index: 1;
  stroke: none; }

@-webkit-keyframes stroke {
  0% {
    stroke-dashoffset: 0; }
  30% {
    stroke-dashoffset: 1550; }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
    stroke: #9356dc; }
  80% {
    transform: scale(1.2);
    fill: transparent; }
  90% {
    transform: scale(1);
    fill: transparent; }
  100% {
    transform: scale(0);
    stroke-dashoffset: 3100;
    stroke: #9356dc;
    fill: #9356dc; } }

@keyframes stroke {
  0% {
    stroke-dashoffset: 0; }
  30% {
    stroke-dashoffset: 1550; }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
    stroke: #9356dc; }
  80% {
    transform: scale(1.2);
    fill: transparent; }
  90% {
    transform: scale(1);
    fill: transparent; }
  100% {
    transform: scale(0);
    stroke-dashoffset: 3100;
    stroke: #9356dc;
    fill: #9356dc; } }

@-webkit-keyframes fade {
  70% {
    fill: transparent;
    transform: scale(0);
    opacity: 0;
    z-index: -1; }
  80% {
    transform: scale(0.6);
    opacity: 0.5; }
  90% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes fade {
  70% {
    fill: transparent;
    transform: scale(0);
    opacity: 0;
    z-index: -1; }
  80% {
    transform: scale(0.6);
    opacity: 0.5; }
  90% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: #ffffff;
  -webkit-animation: loader 2s ease-in both;
          animation: loader 2s ease-in both; }
  #preloader #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9356dc;
    border-bottom-color: #9356dc;
    -webkit-animation: spin 2s linear both;
            animation: spin 2s linear both; }
    #preloader #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-left-color: #ff79da;
      border-right-color: #ff79da;
      -webkit-animation: spin 2s linear both;
              animation: spin 2s linear both; }
    #preloader #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #ecdbff;
      border-bottom-color: #ecdbff;
      -webkit-animation: spin 2s linear both;
              animation: spin 2s linear both; }

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes loader {
  0% {
    opacity: 1; }
  25% {
    opacity: 1; }
  50% {
    opacity: 0.6; }
  75% {
    opacity: 0.3; }
  100% {
    opacity: 0;
    background: transparent;
    visibility: hidden; } }

@keyframes loader {
  0% {
    opacity: 1; }
  25% {
    opacity: 1; }
  50% {
    opacity: 0.6; }
  75% {
    opacity: 0.3; }
  100% {
    opacity: 0;
    background: transparent;
    visibility: hidden; } }

.d-flex {
  display: flex; }

.f-column {
  flex-direction: column; }

.f-row {
  flex-direction: row; }

.f-wrap {
  flex-wrap: wrap; }

footer {
  padding: 1rem;
  background: #353535;
  color: white; }
  footer h4 {
    font-family: "Shrikhand", cursive !important;
    font-size: 1.2rem; }
  footer ul {
    padding: 1rem 0; }
    footer ul li {
      padding: 0.3rem; }
      footer ul li a {
        color: white !important; }
      footer ul li i {
        margin-right: 0.5rem;
        width: 1.2rem;
        height: 1.2rem;
        text-align: center; }

@media only screen and (min-width: 760px) {
  footer {
    padding: 2em 4em; } }

@media screen and (min-width: 1200px) {
  footer > ul,
  footer > h4 {
    max-width: 1200px;
    margin: auto; }
  footer {
    padding: 1rem 0; } }

header {
  text-align: center;
  position: relative;
  margin: 1rem; }
  header i {
    position: absolute;
    text-align: center;
    left: 10px;
    top: 10px; }

main {
  background: white; }
  main figure {
    width: 100%; }
    main figure img {
      width: 100%;
      max-width: 100%;
      height: 250px;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: 50% 65%;
         object-position: 50% 65%; }
  main > section {
    position: relative;
    background: #f6f6f6;
    padding: 2rem 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -2rem; }
    main > section > div {
      margin: 0 5%;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5rem; }
      main > section > div h1 {
        font-family: "Shrikhand", cursive !important;
        font-size: 32px; }
    main > section > section {
      margin: 1rem 0; }
      main > section > section h2 {
        font-weight: 300;
        margin-left: 1rem; }
      main > section > section h2::after {
        content: "";
        display: block;
        border-bottom: 4px solid #99e2d0;
        padding-top: 3px;
        width: 50px; }
      main > section > section article {
        margin: 1rem 1rem; }
        main > section > section article > a {
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.137);
          background: white;
          align-items: center;
          justify-content: space-between;
          border-radius: 20px;
          border: 0;
          padding-left: 1rem; }
          main > section > section article > a > div:first-child {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            justify-content: space-around;
            white-space: nowrap;
            overflow: hidden;
            padding: 1rem 0; }
            main > section > section article > a > div:first-child h3,
            main > section > section article > a > div:first-child p {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding: 2px 0; }
          main > section > section article > a > p {
            display: flex;
            align-self: flex-end;
            padding: 0rem 1rem 1.25rem 0;
            font-weight: bold;
            color: #353535; }
          main > section > section article > a > div:last-child {
            display: none; }
    main > section a {
      align-self: center; }

@media only screen and (min-width: 760px) {
  main > section {
    margin: -2rem 4rem 0 4rem; } }

@media only screen and (min-width: 992px) {
  main > section {
    margin: -2rem 8rem 0 8rem; } }

@media screen and (min-width: 1200px) {
  main > section {
    max-width: 1200px;
    margin: -2rem auto 0 auto; }
    main > section > section > div {
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around; }
      main > section > section > div h2 {
        flex-basis: 100%; }
      main > section > section > div article {
        flex-basis: 30%; } }

